:root {
    background-color: #080010;
}

.tile-0 {
    background-color: #bbb;
}

.tile-1 {
    background-color: #333;
}

.tile {
    border-width: 0px;
}

.tile:hover {
    border-width: 2px;
    border-color: #fff;
}

.tile:checked {
    background-color: #4c4;
}

.board {
    border-width: 10px;
    border-color: #111;
    border-radius: 5px;
}
